<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>InstaClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="nav-left">InstaClone</div>
        <div class="nav-right">
            <a href="/">Home</a>
            <a href="/upload/">➕</a>
            <a href="/profile/{{ request.user.username }}/">👤</a>
            <a href="/logout/">Logout</a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>